#container-details {
    padding: 10px;
    .carousel-control-prev-icon {
        background-color: rgba($color: #414141, $alpha: 0.6);
    }
    .carousel-control-next-icon {
        background-color: rgba($color: #414141, $alpha: 0.6);
    }
}
