body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .home-main {
        display: flex;
        gap: 8px;
        justify-content: center;

        .w-container {
            padding: 0 10px;

            .filter {
                display: flex;
                justify-content: space-evenly ;
                margin-bottom: 16px;
            }

            .figure {
                display: flex;
                flex-direction: column;

                .img-box {
                    position: relative;
                    box-sizing: border-box;
                    // box-shadow: 2px 2px 7px #8d8d8d;
                    
                    img {
                        cursor: pointer;
                        width: 100%;
                    }

                    .img_hover {
                        background-color: rgba($color: #1e1e1e, $alpha: 0.7);
                        bottom: 0;
                        box-sizing: border-box;
                        color: #dadada;
                        display: none;
                        font-size: 14px;
                        font-weight: 500;
                        height: 30%;
                        padding:1rem 0.75rem 0.75rem 0.75rem;
                        pointer-events: none;
                        position: absolute;
                        width: 100%;
                    }

                    img:hover + .img_hover {
                        display: flex;
                    }

                    img:hover {
                        opacity: 0.3;
                    }
                }

                h2 {
                    font-weight: 400;
                    margin: 16px 0 24px 0;
                    text-align: center;
                    text-transform: capitalize;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .home-main {
            .w-container {
                display: grid;
                gap: 16px;
                grid-template-columns: 1fr 1fr 1fr;
                margin: 0 20px;
                max-width: 1200px;
                place-items: center;

                .filter {
                    flex-direction: column;
                    gap: 16px;
                }

                .figure {
                    .img-box {
                        height: 228px;
                        max-height: 286px;
                        overflow: hidden;

                        img {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .home-main {
        .w-container {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 0 20px;
            max-width: 1200px;
        }
    }
}

@media screen and (min-width: 1260px) {
    .home-main {
        .w-container {
            .figure {
                .img-box {
                    height: 288px;
                    max-height: 288px;
                }
            }
        }
    }
}
